<section id="o_nama" class="bg-light-gray">
  <div class="container">
    <div class="row">
        <img id="logo" src="{{ page.media['logo.png'].url }}" width="500px" heigth="100px"class="center-block img-responsive" alt="">
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            {{ content }}
        </div>
    </div>
    <div class="row text-center">
        {% for service in page.header.o_nama %}
            <div class="col-md-4">
                {% if service.icon %}
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-{{ service.icon }} fa-stack-1x fa-inverse"></i>
                    </span>
                {% endif %}
                {% if service.header %}
                    <h4 class="service-heading">{{ service.header }}</h4>
                {% endif %}
                {% if service.text %}
                    <p class="text">{{ service.text }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12 text-center contact-link">
            <a class="page-scroll btn btn-primary" href="#kontakt"><h4 class="service-heading">Kontaktirajte nas</h4></a>
        </div>
    </div>
    <div id="slike" class="row">
        {% for slika in page.header.slike %}
            {% if attribute(slika, 'last') %}
            <div class="col-md-4 col-sm-6 col-md-offset-4">
            {% else %}
            <div class="col-md-4 col-sm-6 portfolio-item">
            {% endif %}    
                <img src="{{ page.media[slika.img].url }}" class="img-responsive" alt="">
            </div>

        {% endfor %}
    </div>
</div>
</section>
